@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@1&family=Lobster&family=Silkscreen&display=swap');

* {
    margin:0;
    padding:0;
    list-style:none;
    
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

#content {
    display:static;
    background:black;
    background-image:url(./pics/earthfantasy.jpg);
    background-size:100%;
    height:800px;
    background-repeat: no-repeat;
}

.topnav a {
    color: rgba(255,255,255,0.5);
    padding:20px;
    text-decoration:none;
    font-size:20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;

}

.topnav {
    margin:5px;
    padding:0;
    position:absolute;
    width:100%;
    box-sizing: border-box;
}

.search-bar {
    display: inline;
    margin:0px;
    top:0;
    right:0;
    width:50px;
    background: rgba(0,0,0,0.5);
}

.search-bar button {
    background: #877666;
}

.search-bar input[type="search"]
{   
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: rgba(0,0,0,0.2);
}


.topnav a:hover {
    color:aliceblue;
    text-shadow: 0 0 10px aliceblue;
    text-decoration: none;
}

button input[type="Search"]
{   
    
    font-family: 'Space Mono', monospace;
    color:aliceblue;
    background:#877666;
}

.search-bar button:hover {
    background:#F4EDED;
    border:2px solid aliceblue;
    box-shadow: 0px 0px 50px aliceblue;
}

.social-icons {
    margin:0;
    padding:0;
    margin-top:190px;
    
}

.social-icons i{
    margin:0;
    padding:0;
      
}

.social-icons a {
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}

.social-icons:hover a {
    text-decoration: none;
} 

ul {
    margin:0;
    padding:0;
}

ul li {
    margin:0;
    padding:0;
    position:-webkit-sticky;
    display:inline-flexbox;
    color:#666;
    font-size: 25px;
    height:50px;
    width:50px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    line-height:50px;
    border-radius: 50%;
    /*space between icons*/
    margin:10px 15px;
    cursor:pointer;
}

ul li:before {
    margin:0;
    padding:0;
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align: center;
    border-radius:50%;
    z-index:1;
    transform:scale(0.9);
    transition: .5s;
}

ul li:nth-child(1):before {
    background:rgba(0,0,0,0.5);
}

ul li:nth-child(2):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(3):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(4):before {
    background:rgba(0,0,0,0.5);
}

ul li:hover:before {
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align: center;
    border-radius:50%;
    z-index:1;
    transform:scale(0);
    transition:0;
}

ul li:hover {
    translate:calc(50% 50%);
    transform:scale(1.1);
    
}

ul li:nth-child(1):hover {
    
    color:lightblue;
    box-shadow: 0 0 10px lightblue;
    text-shadow: 0 0 5px lightblue;
}

ul li:nth-child(2):hover {
    color:blue;
    box-shadow: 0 0 10px blue;
    text-shadow: 0 0 5px blue;
}

ul li:nth-child(3):hover {
    color:pink;
    box-shadow: 0 0 10px pink;
    text-shadow: 0 0 5px pink;
}

ul li:nth-child(4):hover {
    color:purple;
    box-shadow: 0 0 10px purple;
    text-shadow: 0 0 5px purple;
}

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 240px;
    width:20%;
    margin: auto;
    margin-top: -360px;
    text-align: center;
  }

.about-card h1 {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    color:gainsboro;
}
  
  .title {
    color: black;
    font-size: 18px;
  }
  
.about-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Lobster', cursive;
  }
  
  .about-card a {
    text-decoration: none;
    font-size: 22px;
    color: grey;
  }

  button:hover  {
    
    background: black;
    text-shadow: 0 0 2px aliceblue;
  }

  a:hover  {
    opacity: 0.7;
  }

  .about-card p {
    margin: 0;
    padding:0;
    word-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
  }


 #skills{
    display:inline-block;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

section:nth-child #skills {
    background-color: #2d2d2d;
}

.container-fluid {
    margin:0;
    padding:0;
    width:100%;
    display: inline-block;
    top:0;
    left:0;
}

.bar {
    color:#666;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 10px;
    position:relative;
}

.bar .thumb {
    position:relative;
    display: inline-block;
    width:100%;
    height:10px;
    background-color: black;
    border-radius:60px;
    margin-top: 20px;
}

.bar span {
    position:absolute;
    content:'';
    top:0;
    left:0;
    height:100%;
    background: linear-gradient(to left, #de7e9e,#666, #3bfff5);
    border-radius: 50px;
}

.bar:nth-child(1) span{
    width:100%;
}

.bar:nth-child(2) span{
    width:10%;
}

.bar:nth-child(3) span{
    width:10%;
}

.bar abbr {
    width:50px;
    display:inline-block;
    height:35px;
    border-radius: 50px;
    text-align: center;
    line-height:35px;
    position:absolute;
    top:30px;
    margin-left:-5px;
    z-index:1;
    background:linear-gradient(to left, #ef6d98, #2db0d1);
    box-shadow: 0 5px 30px rgb(255, 0, 87/ 50%), 0 5px 3px rgb(255, 255, 59/ 50%);
}

.bar:nth-child(1) abbr{
    left:80%;
}

.bar:nth-child(2) abbr{
    left:40%;
}

.bar:nth-child(3) abbr{
    left:70%;
}


#skills ol li{

    margin:0px;
    padding:0;
    margin-top: 0%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display:inline-block;
}

#skills {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display: flex;
    background-image: url(./pics/saturn\ from\ earth.jpg);
    background-size:cover;
    background-repeat: no-repeat;
   
}

.progress {
    width:800px;
    border-radius: 50px;
    background-color: black;
}

.container-fluid h3 {
    font-family: 'Lobster', cursive;
    color:#877666;
    border-bottom: px dotted #2db0d1;
}

#education {
    margin:0;
    padding:10px;
    width:100%;
    height:500px;
    display:flex;
    gap:50px;
    background-image:url(./pics/rednebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#education p {
    border:px solid black;
    color: #666;
    width:300px;
    height: 100px;
}


#education .card {
    background: rgba(0, 0, 0, 0.7);
    width: 400px;
    height:400px;
}


#education .card-title{
    color: #9DB5B2;
    font-size: 18px;
    width:300px;
    height:30px;
    letter-spacing: 1px;
}

#education h2 {
    font-family: 'Lobster', cursive;
    border-bottom: px solid #877666;
    color: #666;
}

#testimonials {
    margin:0;
    padding:0px;
    width:100%;
    height:100%;
    background-image: url(./pics/rising-cosmos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    align-items: flex-start; 
    word-spacing: 5px;
    border: px solid black;
    gap: 3rem;
   
}

#testimonials p {
    font-family: 'Times New Roman', Times, serif;
    border: px solid black;
    
}

.card-title {
    font-weight: bold;
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid black;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
}

#testimonials .card {
    position: relative;
    display:flexbox;
    width:400px;
    height:300px;
    gap:20px;
    background-color: rgba(255,255,255,0.5);
}

.col .card {

    box-sizing: border-box;
    border-radius:10%;
}

.col h3 {
    font-family: 'Lobster', cursive;
    color: #2db0d1;
    border-bottom:3px solid rgba(255, 255, 255, 0.2);
}

.card img {
    width:130px;
    height:120px;
    overflow:hidden;
    border-radius:20%;
}

#container h2 {
    color: aliceblue;
    font-family: 'Lobster', cursive;
    border-bottom: 3px solid #666;
    width:40%;
}

